<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ZipKart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">Link</a>
        </li>
      
      </ul>

      <!-- Cart icon -->
      <a class="navbar-brand position-relative me-5" href="#">
        <img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-svg-png-icon-download-28.png" alt="Logo" width="26" height="20" class="d-inline-block align-text-center">
        <!-- Cart Item count -->
        <span class="position-absolute start-100 top-10 translate-middle badge rounded-pill bg-danger">
          1
          <span class="visually-hidden">unread messages</span>
        </span>
      </a>

      <!-- Avatar -->
      <% if user_signed_in? %> 
      <div class="dropdown">
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" role="button" id="avatarDropdown" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="avatarDropdown">
            <li>
                <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %> 
            </li>
        </ul>
      </div>
      <% else %>
          <%= button_to "Sign in", new_user_session_path, class: "btn btn-outline-success"%> 
      <% end %>
      
    </div>
  </div>
</nav>