<h1>Your Cart</h1>
<% if @cart.cart_items.present? %>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.quantity %></td>
          <td>
            <%= link_to 'Remove', item, data: { turbo_method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Your cart is empty.</p>
<% end %>
<%= link_to 'Continue Shopping', products_path, class: 'btn btn-primary' %>
